<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Tidak ubah URL jika file atau direktori fisik ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Atur routing ke index.php dengan parameter q
    RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>
